<nav class="navbar navbar bg-dark" >
  <div class="container-fluid">
    <a class="navbar-brand" style="color:aliceblue" href="/"><img  class="div" src="../assets/C_Logo.png">Codemy</a>
    <div class="d-flex">
      <button class="btn btn-success mx-3" routerLink="list">Available Courses</button>
      <button class="btn btn-success" routerLink="add">
        Add Course
      </button>
    </div>
  </div>
</nav>

<!-- <div class="img" *ngIf="showComponent">
  <img  src="../assets/background.jpg" class="img-fluid" >
</div> -->

 
<!-- <table class="table mt-3">
  <thead>
    <tr>
      <th scope="col"> Course ID</th>
      <th scope="col"> Course Name</th>
      <th scope="col"> Course Duration(months)</th>
      <th scope="col"> Course Fee</th>
      <th scope="col"> Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Python</td>
      <td> 12</td>
      <td>5000</td>
      <td>
        <button class="btn btn-info">Edit</button>
        <button class="btn btn-success mx-3">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

  

<router-outlet></router-outlet>
 -->
 
<p>

</p>
 <router-outlet></router-outlet>
